button{
  border: none;
  padding: 7px 16px;
  background-color: var(--colorBrand-70);
  border-radius: var(--borderRadiusM);
  color: var(--colorWhite);
  box-shadow: 0px 0px 0px 0px var(--colorBrand-70);
  cursor: pointer;
  transition: box-shadow var(--animationSpring),
              background-color var(--animationSpring);
}

button:hover{
  background-color: var(--colorBrand-90);
  box-shadow: 0px 0px 0px 4px var(--colorBrand-90);
  transition: box-shadow var(--animationSpring),
              background-color var(--animationSpring);
}

.secondary-button{
  text-decoration: none;
  border: none;
  padding: 2px 8px;
  background-color: var(--colorWhite);
  border-radius: var(--borderRadiusS);
  color: var(--colorNeutral-90);
  box-shadow: 0px 0px 0px 0px var(--colorWhite);
  cursor: pointer;
  transition: box-shadow var(--animationSpring),
              background-color var(--animationSpring);
}

.secondary-button:hover{
  background-color: var(--colorNeutral-30);
  box-shadow: 0px 0px 0px 4px var(--colorNeutral-30);
  transition: box-shadow var(--animationSpring),
              background-color var(--animationSpring);
}

.icon-button{
  border: none;
  padding: 4px;
  background-color: var(--colorWhite);
  border-radius: var(--borderRadiusCircle);
  color: var(--colorNeutral-90);
  box-shadow: 0px 0px 0px 0px var(--colorWhite);
  cursor: pointer;
  transition: box-shadow var(--animationSpring),
              background-color var(--animationSpring);
  line-height: 0;
}

.icon-button:hover{
  background-color: var(--colorNeutral-20);
  box-shadow: 0px 0px 0px 4px var(--colorNeutral-20);
  transition: box-shadow var(--animationSpring),
              background-color var(--animationSpring);
}

/*HEADER*/

header{
  margin: 8px 8px 0;
  padding: 16px 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  background-color: var(--colorNeutral-10);
  border-radius: var(--borderRadiusL);
  position: sticky;
  top: 8px;
  z-index: 999;
}

/*SECTIONS*/

.container-section{
  padding: 64px 16px;
}

.content-section{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  text-align: center;
  min-height: calc(80vh - 128px);
  width: 100%;
}

.left-col{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.right-col{
  width: 100%;
}

.subhead{
  color: var(--colorNeutral-70);
}

.content-section h1, .content-section h2{
  margin: 0 0 16px 0;
}

.content-section p{
  color: var(--colorNeutral-80);
  margin: 0 0 8px 0;
}

.social-links{
  display: flex;
  gap: 16px;
  padding: 8px 0 0;
}

.visualsong{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  gap: 0;
  flex-wrap: wrap;
}

.visualsong-graph{
  width: 204px;
  height: auto;
  margin: 32px auto;
}

.visualsong-description{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;
}

.visualsong p{
  margin: 0;
  max-width: 170px;
}

#songWWRY, #songAOBTD, #songID, #songSA{
  display: none;
}

.experiment-items{
  gap: 40px;
  display: flex;
  flex-direction: column;
}

.experiment-card{
  width: 100%;
  min-height: calc(50vh);
  background-color: var(--colorNeutral-30);
  border: 1px solid;
  border-radius: var(--borderRadiusL);
  border: none;
  background-color: var(--colorWhite);
  color: var(--colorNeutral-90);
  box-shadow: 0px 0px 0px 1px var(--colorNeutral-30);
  cursor: pointer;
  transition: box-shadow .35s cubic-bezier(.25, .1, 0, 1.05);
}

.experiment-card:hover{
  box-shadow: 0px 0px 0px 12px var(--colorNeutral-10);
  transition: box-shadow .35s cubic-bezier(.25, .1, 0, 1.05);
}

.experiment-card a{
  text-decoration: none;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  height: calc(80vh - 128px);
}

.title-and-tag{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
}

.flex-h{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.flex-v{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.gap24{
  gap: 24px;
}

.gap16{
  gap: 16px;
}

.gap8{
  gap: 8px;
}

.gap4{
  gap: 4px;
}

.experiment-card h3{
  color: var(--colorNeutral-90);
  margin: 0;
}

.experiment-card h4{
  color: var(--colorNeutral-70);
  margin: 0;
}

.experiment-card p{
  color: var(--colorNeutral-70);
  margin: 0;
}

.tag{
  border-radius: var(--borderRadiusS);
  padding: 4px 8px;
}

.success-box{
  color: var(--colorSuccess-100);
  background-color: var(--colorSuccess-20);
  border: 1px solid var(--colorSuccess-50);
}

.experiment-cover{
  width: 100%;
  height: calc(100% - 120px);
}

.minimalist-dsf{
  height: 100%;
}

.text-styles{
  height: 100%;
  justify-content: space-between;
}

.color-styles{
  height: 100%;
  justify-content: space-between;
  flex-grow: 1;
  gap: 4px;
}

.color-style-row{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 4px;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.color-style{
  width: 100%;
  height: 100%;
  border-radius: var(--borderRadiusCircle);
}

.show-desktop{
  display: none;
}

.animated-buttons{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon-button-container button{
  padding: 12px;
  background-color: var(--colorError-70);
  box-shadow: 0px 0px 0px 0px var(--colorError-70);
}

.icon-button-container button:hover{
  background-color: var(--colorError-80);
  box-shadow: 0px 0px 0px 4px var(--colorError-80);
}

.button-container button{
  padding: 12px 16px;
  background-color: var(--colorWhite);
  box-shadow: 0px 0px 0px 0px var(--colorWhite);
  color: var(--colorError-70);
}

.button-container button:hover{
  background-color: var(--colorWhite);
  box-shadow: 0px 0px 0px 4px var(--colorWhite);
}

.animated-buttons svg{
  width: 48px;
  height: 48px;
}

.animated-buttons path{
  fill: var(--colorWhite);
}

.is-type-container, .task-management-container{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.is-type-container svg, .task-management-container img, .avatar-container img{
  max-width: calc(100% - 32px);
  max-height: calc(100% - 32px);
}

p a{
  color: var(--colorBrand-70);
}

p a:hover{
  color: var(--colorBrand-80);
  text-decoration: none;
}

.avatar-container{
  display: flex;
  justify-content: center;
}

.middle-row{
  flex-grow: 2;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.middle-row a{
  background-color: var(--colorBrand-90);
  box-shadow: 0px 0px 0px 0px var(--colorBrand-90);
}

.middle-row path{
  fill: var(--colorBrand-50);
}

.middle-row a:hover{
  background-color: var(--colorBrand-80);
  box-shadow: 0px 0px 0px 4px var(--colorBrand-80);
}

.bottom-row{
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  width: 100%;
}

.bottom-row p{
  margin: 0px;
}

.footer{
  display: flex;
  padding: 32px 16px;
}

/* * * >768px * * */

@media (min-width: 768px) {
  header{
    margin: 24px 32px 0;
    padding: 24px 32px;
    gap: 8px;
    top: 24px;
  }

  .container-section{
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .content-section{
    max-width: 1200px;
    width: 100%;
    padding: 64px 32px;
    flex-direction: row;
    min-height: calc(80vh - 128px);
    align-items: center;
    justify-content: center;
  }

  .left-col{
      width: 50%;
  }

  .right-col{
    width: 50%;
  }

  .summary-me{
    width: auto;
    flex-grow: 0;
  }

  .visualsong{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 8px;
    width: auto;
    flex-grow: 1;
    flex-wrap: nowrap;
  }

  .visualsong-description{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
  }

  .visualsong p{
    max-width: 100%;
  }

  .experiment-intro{
    height: calc(80vh - 128px);
    position: sticky;
    top: calc(50vh - 128px);
  }

  .experiments{
    align-items: flex-start;
  }

  .experiment-card{
    min-height: calc(80vh - 128px);
  }

  .show-desktop{
    display: inline;
  }
}
